<!DOCTYPE html>
<html lang='es'>
<body>

    <div style='width:600px;padding:20px;border:1px solid #DBDBDB;border-radius:12px;font-family:Sans-serif'>
        <h1 style='color:#C76F61'>Confirmar correo electrónico</h1>
        <p style='margin-bottom:25px'>Estimado/a&nbsp;<b>{0}</b>:</p>
        <p style='margin-bottom:25px'>Gracias por abrir una cuenta con nosotros. Para utilizar su cuenta, primero deberá confirmar su correo electrónico haciendo clic en el boton a continuación.</p>

        <a style='padding:12px;border-radius:12px;background-color:#6181C7;color:#fff;text-decoration:none' href='{1}' target='_blank'>Confirme su correo electronico</a>

        <p style='margin-top:25px'>Gracias.</p>
    </div>
</body>
</html>